# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.env

# Django
db.sqlite3
media/

# VS Code
.vscode/

# PyCharm
.idea/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Python version manager
.python-version
